<html>

<head>
  <!--Importando Fontes-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!--Importar aquivos de estilo CSS-->
  <link href="../static/home.css" rel="stylesheet" />
  <script src="../static/scripts/home.js"></script>

  <!--Atribui nome á guia HTML-->
  <title>BetBot</title>

  <!--Atributos de SEO-->
  <meta charset="UTF-8" />
  <meta name="BetBot - Automatizador de Apostas" />
</head>

<body>
  <header class="hd">
    <!--Cabeçalho, testes e imagens-->
    <section class="bg">
      <!--Sessão de Titulo-->
      <div class="title">
        <!--Logo e Slogan-->
        <img src="../static/imgs/logo.svg" width="30%" />
        <p>Automatizador de Apostas</p>
      </div>

      <div>
        <!--Menu do Site-->
        <nav>
          <ul>
            <a href="/" class="button_s">Home</a>
            <a href="/config" class="button">Configurações</a>
            <a href="/bot" class="button">Apostas</a>
            <a href="/login" class="button">Login</a>
          </ul>
        </nav>
      </div>
    </section>
  </header>

  <!--Fim do Cabeçalho-->
</body>